{% extends 'base.html' %}

{% block title %}
	Редактирование профиля
{% endblock %}

{% block content %}
    <div class="login_block">
    	<h2>Редактировать профиль</h2>
        <hr>
        <form action="{% url 'account:profile_edit' %}" class="login_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h6>Имя</h6>
            {{ form.first_name }}
            <h6>Фамилия</h6>
            {{ form.last_name }}
            <h6>Почта</h6>
            {{ form.email }}
            <h6>Аватар профиля</h6>
            {{ form.avatar }}<br><br>
            <input type="submit" value="Сохранить" class="btn">
        </form>
    </div>
{% endblock %}