{% extends 'base.html' %}

{% block title %}
	О проекте
{% endblock %}

{% block content %}
    <div class="about_block">
    	<p>
        Данное веб-приложение является практической работой в рамках экзамена по Django 4 в
        Академии ШАГ.
        </p>
        <ul>
            <h6>Реализованные функционалы:</h6>
            <li>
                Просмотр и добавление публикации
            </li>
            <li>
                Система комментариев
            </li>
            <li>
                Тегирование
            </li>
            <li>
                Пагинация
            </li>
            <li>
                Авторизация и Регистрация
            </li>
            <li>
                Профили пользователей
            </li>
            <li>
                Сигналы для создания профиля пользователя
            </li>
            <li>
                Интеграция WYSIWYG-редактора
            </li>
            <li>
                Подключение Bootstrap
            </li>
            <li>
                Разработка API с DjangoRestFramework
            </li>
            <li>
                Авторизация через JWT
            </li>
        </ul>
    </div>
{% endblock %}